<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="6a6f6c0f-74b8-4537-9ccb-d3cad6078a94"
    Version="1.0.0.0"
    Publisher="CN=atsushi" />

  <Properties>
    <DisplayName>WinWebAppBlank</DisplayName>
    <Description>WinWebAppBlank</Description>
    <PublisherDisplayName>atsushi</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="WinWebAppBlank"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="WinWebAppBlank"
        ForegroundText="light"
        BackgroundColor="#0084FF">

        <DefaultTile ShowName="true" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
