<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="85d6dd85-f009-4cad-be71-f79daf082842"
            Publisher="CN=atsushi"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>ApplicationGrid</DisplayName>
    <PublisherDisplayName>atsushi</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>ApplicationGrid</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="applicationgrid.exe" 
        EntryPoint="ApplicationGrid.App">
        <VisualElements 
            DisplayName="ApplicationGrid"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="ApplicationGrid"
            ForegroundText="light"
            BackgroundColor="#222222">
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>