<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="ab922be6-ef8d-4299-a7e6-b79806b3ee76"
            Publisher="CN=atsushi"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>ReversiMetro</DisplayName>
    <PublisherDisplayName>atsushi</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>ReversiMetro</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="reversimetro.exe" 
        EntryPoint="ReversiMetro.App">
        <VisualElements 
            DisplayName="ReversiMetro"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="ReversiMetro"
            ForegroundText="light"
            BackgroundColor="#222222">
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>